/* EMPIEZA INICIO ↓*/


.section-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-image: url(./../../public/Cine.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    margin-top: 20vh;
    scroll-margin-top: 20vh;

  }
  
  .h1-inicio{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3vw;
  }
  
  .contador{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 18vw;
    width: 18vw;
    background-color: rgb(255, 255, 255, 0.4);
    font-size: 2.3vw;
  }









      /* MEDIA QUERYS ↓*/

      @media screen and (max-width: 524px) {
        .section-inicio{
          justify-content: space-evenly;
          height: 85vh;
          margin-top: 15vh;
          scroll-margin-top: 15vh;
        }
        
        .h1-inicio{
          text-align: center;
          margin: 0 5vw;
          font-size: 6vw;
        }
        
        .contador{
          height: 60vw;
          width: 60vw;
          background-color: rgb(255, 255, 255, 0.4);
          font-size: 8vw;
        }
      }


  /* TEMIRNA INICIO ↑*/