/* EMPIEZA INICIO ↓*/


.section-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-image: url(./../../public/Cine.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    margin-top: 20vh;
    scroll-margin-top: 20vh;

  }
  
  .h1-inicio{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3vw;
  }
  
  .contador{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 18vw;
    width: 18vw;
    background-color: rgb(255, 255, 255, 0.4);
    font-size: 2.3vw;
  }

  .alias{
    font-size: 0.8rem;
    position: absolute;
    bottom: 5%;
    right: 2%;
    text-align: center;
    display: flex;
    color: white;
  }

  .alias:hover{
    font-weight: 999;
  }

  .div-pelicula{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h5-peli{
    font-size: 1.5rem;
    position: absolute;
    bottom: 5%;
    left: 2%;
    text-align: center;
    display: flex;
    color: white;
  }

  .span-pelicula{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 0.4vw;
    color: #f2a739;
  }

  .h4-cancelacion{
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 10px;
    padding: 1vw;
    border: solid 3px red;
    font-size: 1.5rem;
    position: absolute;
    bottom: 5%;
    left: 2%;
    text-align: center;
    display: flex;
    color: white;
  }













      /* MEDIA QUERYS ↓*/

      @media screen and (max-width: 524px) {
        .section-inicio{
          justify-content: space-evenly;
          height: 85vh;
          margin-top: 15vh;
          scroll-margin-top: 15vh;
        }
        
        .h1-inicio{
          text-align: center;
          margin: -5vh 5vw 0 5vw;
          font-size: 6vw;
        }
        
        .contador{
          height: 60vw;
          width: 60vw;
          background-color: rgb(255, 255, 255, 0.4);
          font-size: 8vw;
        }

        .alias{
          position: inherit;
          font-size: 2.5vw;
          text-align: center;
          display: flex;
        }

        .div-pelicula{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      
        .h5-peli{
          font-size: 1.5rem;
          position: inherit;
        }
      
        .span-pelicula{
          background-color: rgba(255, 255, 255, 0.15);
          border-radius: 10px;
          padding: 1vw;
          color: #f2a739;
        }
      
        .h4-cancelacion{
          margin: 0 1vw;
          font-size: 1.5rem;
          position: inherit;
        }
      }


  /* TEMIRNA INICIO ↑*/